/*
https://coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241
*/

body {
    background: #293241;
    font-family: 'Alegreya Sans';
    letter-spacing: 1px;
}

#wrapper {
    width: 1024px;
    margin: auto;
    margin-bottom: 50px;
}

.button {
    border: 3px solid #ee6c4d;
    background: #293241;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 28px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background: #ee6c4d;
}

#ylaosa {
    min-height: 150px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 40px;
    margin-top: 30px;
}

.ylaosa_kuvailu {
    min-height: 150px;
}

.ylaosa_kuvailu > h1 {
    margin: 0px;
    color:#ee6c4d;
    font-size: 60px;
}

.ylaosa_kuvailu > h2 {
    margin: 0px;
    font-size: 42px;
}

.ylaosa_kuvailu > p {
    color:#e0fbfc;
    font-size: 20px;
}

.ylaosa_avatar {
    min-height: 150px;
}

#sivustot {
    margin: 70px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}

#sivu {
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    background-color: #3d5a80;
    color: #e0fbfc;

}

.sivukuva {
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: -10px;
    opacity: 0.8;
}

.sivukuva:hover {
    opacity: 1;
}

.sivu_linkki {
    opacity: 1;
}
.somekuva {
    width: 45px;
    height: 45px;
    opacity: 0.8;
}

.somekuva_linkki {
    margin: 5px;
}

.somekuva:hover {
    opacity: 1;
}

.avatar_kuva {
    border-radius: 50%;
    display: inline;
    width: 220px;
    border: 5px solid #3d5a80;
}

#osaaminen {
    margin: 50px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}

#osaan {
    background: #3d5a80;
    color: #e0fbfc;
    display: inline-block;
    border-radius: 20px;
    min-height: 120px;
    padding: 20px;
    border-left: 3px solid #ee6c4d;
    font-size: 18px;
}

#osaan > h1 {
    color: #e0fbfc;
}

#ota_yhteytta {
    background: #3d5a80;
    color: white;
    border-radius: 20px;
    border-left: 3px solid #ee6c4d;
    min-height: 150px;
    padding: 25px;
}

h3 { /* Väliotsikot */
    font-size: 48px;
    color: black;
    margin: 0px;
    margin-top: 25px;
    margin-right: 10px;
    display: inline-block;
}

h3 + h3 {
    color: #ee6c4d;
}

ul {
    list-style-type: circle;
    color: #e0fbfc;
    font-size: 20px;
    margin: 0px;
    padding: 15px;
}

/* MODAALI CSS */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #3d5a80;
    color: white;
    margin: auto;
    padding: 0;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #ee6c4d;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
