:root {
  --primary: #7232f2;
  --secondary:#34343b;
  --dark: #2e2e35;
  --light: #dadada;
}

$theme-colors: (
  "primary": #7232f2,
  "secondary":#34343b,
  "dark":#2e2e35,
  "light":#dadada,
);

// Typography
h1 {
  color: var(--primary)
}

h2 {
  color: var(--light)
}

p {
  color: var(--light);
  font-size: 18px;
}

@import "node_modules/bootstrap/scss/bootstrap";